[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
coverage = "==5.5"
codecov = "==2.1.11"
pyinstaller = "==4.3"
flake8 = "==3.9.1"
flake8-bugbear = "==20.11.1"
black = "==20.8b1"
isort = "==5.8.0"
mypy = "==0.812"

[packages]
openpyxl = "==3.0.7"
